defaults
    mode http
    timeout connect 5000ms
    timeout client 3000ms
    timeout server 3000ms

frontend http
    bind *:80
    mode http
    use_backend app_http

backend app_http
    balance roundrobin
    option forwardfor
    server cluster1 192.168.50.101:30080 check
    server cluster2 192.168.50.102:30080 check
